@*
 * ----------------------------------------------------------------------------
 * Module Name: Supplier Management View
 * Module Description: The view for displaying suppliers and their information.
 * From here, the user can add, delete, and modify suppliers.
 * ----------------------------------------------------------------------------
*@

@model List<Supplier>

@{
    ViewData["Title"] = "Supplier";
}

@* Heading *@
<div class="row mb-2">
    <h5>Supplier</h5>
</div>

<table class="table table-striped table-sm">
    <thead class="bg-dark text-white">
        <tr>
            <th>SupplierID</th>
            <th>SupplierName</th>
            <th>ContactName</th>
            <th>ContactEmail</th>
            <th>ContactPhone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.SupplierId</td>
                <td>@supplier.SupplierName</td>
                <td>@supplier.ContactName</td>
                <td>@supplier.ContactEmail</td>
                <td>@supplier.ContactPhone</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <a asp-action="AddSupplier" asp-controller="Supplier" class="btn btn-primary" method="post">Add Supplier</a>
    </div>
</div>