@*
 * ----------------------------------------------------------------------------
 * Module Name: Invoice Management View
 * Module Description: The view for displaying invoices and their details.
 * This view displays a list of invoices and their associated line items.
 * The line items are derived from the InvoiceProduct model. This view allows
 * the user to view, add, modify, and delete invoices.
 * ----------------------------------------------------------------------------
*@

@model List<Invoice>

@{
    ViewData["Title"] = "Invoice";
}

@* Heading *@
<div class="row mb-2">
    <h5>Invoice</h5>
</div>

<table class="table table-striped table-sm">
    <thead class="bg-dark text-white">
        <tr>
            <th>Invoice ID</th>
            <th>Invoice Number</th>
            <th>Supplier</th>
            <th>Invoice Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.InvoiceId</td>
                <td>@invoice.InvoiceNumber</td>
                <td>@invoice.Supplier?.SupplierName</td>
                <td>@invoice.InvoiceDate.ToString("MM/dd/yyyy")</td>
                <td>@invoice.DueDate.ToString("MM/dd/yyyy")</td>
                <td>@invoice.Status</td>
                <td>
                    <a asp-action="AddInvoiceProduct" asp-controller="Invoice" asp-route-id="@invoice.InvoiceId" class="btn btn-primary" method="post">Add Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <a asp-action="AddInvoice" asp-controller="Invoice" class="btn btn-primary" method="post">Add Invoice</a>
    </div>
</div>