@*
 * ----------------------------------------------------------------------------
 * Module Name: Product Management View
 * Module Description: The view for displaying product types within the DB.
 * This view displays a list of products and their properties. From here, the 
 * user can add, delete, and modify products.
 * ----------------------------------------------------------------------------
*@

@model List<ProductViewModel>

@{
    ViewData["Title"] = "Product";
}

@* Heading *@
<div class="row mb-2">
    <h5>Product</h5>
</div>

<table class="table table-striped table-sm">
    <thead class="bg-dark text-white">
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Category</th>
            <th class="pe-1">Description</th>
            <th>On-Hand</th>
            <th>Average Price</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.CategoryName</td>
                <td class="pe-1">@product.Description</td>
                <td class="pe-4">@product.FormattedStockWithUnitTypeAbbrev()</td>
                <td>@product.FormattedUnitPriceWithUnitTypeAbbrev()</td>
                <td>@product.FormattedTotalValue</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
	<div class="col-md-12">
		<a asp-action="AddProduct" asp-controller="Product" class="btn btn-primary">Add Product</a>
		<a asp-action="AddCategory" asp-controller="Product" class="btn btn-primary">Add Category</a>
	</div>
</div>